.project-title {
  background-color: #F7F7F7;
  border-radius: 30px;
  text-align: center;
  padding: 0;
}

h1 {
  color: white;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}

h2 {
  color: #ECEDF2;
  font-family: Blank River;
}

i {
  color: #DBDBDB;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin: 5px 5px;
}

i:hover {
  color: #004AAD;
  cursor: pointer;
}
.project {
  text-align: center;
  padding: 10px 10px 20px 20px;
  background-color: white;
  border-radius: 30px;
  height: 450px;
  margin-bottom: 20px;
  // background-image: asset-url('cm.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-muted {
    color: #fff;
    opacity: 0.2;
    font-size: 20px;
}

.img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.img-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6px;
  padding:10px;
}

@media (min-width: 898px) and (max-width: 1124px) {
  .img-wrapper {
    grid-template-columns: 1fr 1fr;
    & .wish-card-category {
      height:40vh;
    }
  }
}

@media (min-width: 590px) and (max-width: 897px) {
  .img-wrapper {
    grid-template-columns: 1fr 1fr;
    & .wish-card-category {
      height:30vh;
    }
  }
}

@media (min-width: 100px) and (max-width: 589px) {
  .img-wrapper {
    grid-template-columns: 1fr;
  }
}
