<section id="footer">
  <span class="copyright">Copyright © O'neal 2021</span>
  <ul class="social-icons">
    <li><i class="fab fa-facebook"></i></li>
    <li><a href="https://github.com/akoustyle" target="_blank"><i class="fab fa-github-alt"></i></li></a>
    <li><a href="https://www.linkedin.com/in/oneal-maoukola/" target="_blank"><i class="fab fa-linkedin-in"></i></li></a>
  </ul>
</section>
