<div id="footer">
  <p>O'neal portfolio / 2021</p>
  <ul class="social-icons">
    <li><i class="fab fa-facebook"></i></li>
    <li><i class="fab fa-twitter"></i></li>
    <li><i class="fas fa-envelope-open-text"></i></li>
  </ul>
</div>
