  <header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in" style="text-align: left;"><h1>Hi everybody</h1></div>
        <div class="intro-heading"style="text-align: left;">I am <strong><span class="blue">O'neal</span></strong></div>
        <div style="text-align: left;"><span id="typed" style="font-size:35px;"><h1></h1></span></div><br>
        <a href="mailto:contact@oneal-portfolio.me" class="action-button bleu" style="justify-content:left">What is on your mind?</a>
        <!-- <a href="mailto:contact@oneal-portfolio.me" style="justify-content:left" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
          data-bs-whatever="@mailto:contact@oneal-portfolio.me">What is on your mind?</a> -->
      </div>
    </div>
  </header>
