   <%# <head>
    <meta charset="UTF-8">
    <title>O'neal | PORTFOLIO</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="application.css">
    <script src="https://kit.fontawesome.com/6a3f6c3c02.js"></script>
  </head> %>
  <%# <header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in" style="text-align: left;"><h1>Hi everybody</h1></div>
        <div class="intro-heading"style="text-align: left;">I am <strong><span class="blue">O'neal</span></strong></div>
        <div style="text-align: left;"><span id="typed" style="font-size:35px;"><h1></h1></span></div><br>
        <a href="mailto:contact@oneal-portfolio.me" class="action-button bleu" style="justify-content:left">What is on your mind?</a>
        <!-- <a href="mailto:contact@oneal-portfolio.me" style="justify-content:left" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
          data-bs-whatever="@mailto:contact@oneal-portfolio.me">What is on your mind?</a> -->
      </div>
    </div>
  </header> %>


  <body>

    <div class="banner">
      <h4>Hi evereybody!</h4>
      <div class="intro-heading"style="text-align: left;">I am <strong><span class="blue">O'neal</span></strong></div>
      <div style="text-align: left;"><span id="typed" style="font-size:15px;"><h1></h1></span></div><br>
      <a class="typeform-share button" href="https://at79s54402k.typeform.com/to/dsMi1cz4" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Get in touch</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </div>


    <section class="features">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading">Skills</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature-ruby">
              <%# <div class="feature-title">

              </div> %>
              <div class="col-md-3">
                <span class="icon">
                 <i class="glyphicon glyphicon-tree-conifer"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature-html">
              <div class="feature-title">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature-css">
              <div class="feature-title">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature-js">
              <div class="feature-title">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature-heroku">
              <div class="feature-title">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature-figma">
              <div class="feature-title">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature-sql">
              <div class="feature-title">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature-wordpress">
              <div class="feature-title">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center mt-5">
        <span><strong>Hard Skills:</strong> <strong><span class="redish">Ruby</span></strong>, SQL, Rails, <strong><span class="blue">HTML/CSS/Bootstrap</span></strong>, JavaScript (ES6), StimulusJS, ThreeJS, REACT(in progress) wireframing on Figma, 3rd-party
      services (Heroku, Stripe, Cloudinary, Algolia, etc…).<br>
      <strong>Soft Skills:</strong>Product mindset, UX/UI basics, communication & pitch skills, collaboration workflows with git/Github </span>
      </div>
    </section>
    <section class="features" style="background-color:white">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading">Service</h1>
        </div>
      </div>
      <div class="single-instruction">
        <header style="display:grid;grid-template-columns: auto 1fr auto;gap: 1.5rem;align-items: center">
          <p style="color:#004AAD" >Definition of your project</p>
          <div style="border-bottom: 1px solid; color:#004AAD"></div>
          <i class="fas fa-sitemap fa-2x"></i>
        </header>
        <p>
          Sitemap & Wireframe
        </p>
      </div>
      <div class="single-instruction">
        <header style="display:grid;grid-template-columns: auto 1fr auto;gap: 1.5rem;align-items: center">
          <p style="color:#004AAD">The User Journey</p>
          <div style="border-bottom: 1px solid; color:#004AAD"></div>
          <i class="fas fa-user fa-2x"></i>
        </header>
        <p>
          What will fit best your users
        </p>
      </div>
      <div class="single-instruction">
        <header style="display:grid;grid-template-columns: auto 1fr auto;gap: 1.5rem;align-items: center">
          <p style="color:#004AAD">Web Development</p>
          <div style="border-bottom: 1px solid; color:#004AAD"></div>
          <i class="fas fa-code fa-2x"></i>
        </header>
        <p>
          Front-end & Back-end
        </p>
      </div>
      <div class="single-instruction">
        <header style="display:grid;grid-template-columns: auto 1fr auto;gap: 1.5rem;align-items: center">
          <p style="color:#004AAD">Content Management</p>
          <div style="border-bottom: 1px solid; color:#004AAD"></div>
          <i class="fas fa-file-upload fa-2x"></i>
        </header>
        <p>
          Let's add all your content
        </p>
      </div>
      <div class="single-instruction">
        <header style="display:grid;grid-template-columns: auto 1fr;gap: 1.5rem;align-items: center">
          <h2 style="color: #004AAD;font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif">Launching</h2>
          <%# <div style="border-bottom: 1px solid; color:#004AAD"></div> %>
          <%# <i class="fa-solid fa-champagne-glasses"></i> %>
        </header>
        <p>
        </p>
      </div>
    </section>
      <%# <!-- About Section -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Services</h2>
            <h3 class="section-subheading text-muted positioned3">What I can offer.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <i class="fas fa-sitemap fa-3x pt-5"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4><strong>Definition of your project</strong></h4>
                    <h5 class="subheading">Sitemap & Wireframe</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"></p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <i class="fas fa-user fa-3x pt-5"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4><strong>The User Journey</strong></h4>
                    <h5 class="subheading">What will fit best your users</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <i class="fas fa-code fa-3x pt-5"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4><strong>Web Development</strong></h4>
                    <h5 class="subheading">Front-end & Back-end</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"></p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <i class="fas fa-file-upload fa-3x pt-5"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4><strong>Content Management</strong></h4>
                    <h5 class="subheading">Let's add all your contents</h5>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"></p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Launching
                    <br>Of Your
                    <br>Project!
                  </h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section> %>
  </body>
