<div class="banner">
    <div class="container">
      <h1>Find all my projects and inspirations here !</h1>
      <p>Learn to code change my life</p>
      <a class="btn-primary" href="#">Let's talk!</a>
    </div>
  </div>

<div class="features">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading">Projects</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <% @projects.each do |project| %>
              <div class="feature-ruby">
                <div class="feature-title">
                  <%= project.name %>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
