.card-category {

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: asset-url("project-banner.png");
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.img-show {
  width: 100%;
}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 50px 50px;
  border-radius: 20px;
}
.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 30px;
}
.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  .project-category {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}
.card-trip-infos .card-trip-user {
  position: absolute;
  right: -35px;
  top: -50px;
  width: 190px;
}
.wish-card-category {
  background-size: cover;
  background-position: center;
  height: 55vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #ffff;
  font-size: 24px;
  font-weight: bolder;
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
}
.wish-card-category {
  transition: box-shadow 0.1s linear;
  // margin: 0.5em;
}
.centered {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.wish-card-category:hover {
  box-shadow: 0px 0px 0px 5px #004AAD; }

.wish-info {
  overflow: hidden;
  // background: white;
  // box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.wish-info > img {
  height: 374px;
  width: 345px;
  object-fit: cover;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}
.wish-card-details {
  width: 100%;
  padding: 2.125rem 1.25rem 2.625rem 1.25rem;
  // border-radius: 0 0 12px 12px;
}
.wish-tag {
  height: 35px;
  width: fit-content;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 8px;
  color: #004AAD;
  background: #FFFF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  &:not(:last-child) {
    margin-right: 10px;
  }
  i {
    margin-right: 2px;
  }
}

.tag {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // position: absolute;
  // top: -285px;
}
